/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors */
@font-face {
  font-family: commonIcon;
  src: url('../../../fonts/common/icomoon.woff');
}
.icoIconFont {
  font-family: commonIcon;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  content: '';
  clear: both;
}
.horizontalCenter {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.fixedCenter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.errorBox {
  color: red;
}
